<div class="container">
  <%= link_to dolls_path do %>
    <div class="banner-home d-flex home-card">
      <div class="home-btns">
        <div class="browse-dolls mt-2 ml-2">
          <p>Meet my friends</p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="forum-coco home-card">
    <h4 class="mt-3">The Coco forum</h4>
    <p>Shall we get together? Join the community and make new friends!! You can choose one of our channels to start chatting. 💃</p> <br>
      <div class="forum-c colored-li">
        <%= link_to "#General", "/chatrooms/1" %>
      </div>
      <div class="forum-c">
        <%= link_to "#Blythe Customization", "/chatrooms/4" %>
      </div>
      <div class="forum-c colored-li">
        <%= link_to "#Requests", "/chatrooms/5" %>
      </div>
      <div class="forum-c">
        <%= link_to "#Fashion", "chatrooms/2" %>
      </div>
      <div class="forum-c colored-li">
        <%= link_to "#Off-topic", "/chatrooms/3" %>
      </div>
  </div>

  <div class="follow-ig home-card">
    <h4> <a href="https://www.instagram.com/la_cocco_violette/" target="_blank">Follow me on Instagram</a></h4>
  </div>

</div>
