<div class="container">
  <div class="container">
    <div class="row py-4 checkout-card">
      <div class="col-md-3"><%= image_tag @order.doll.photo, width: '100%', class: 'checkout-photo' %></div>
      <div class="col mt-3">
        <h1>Checkout summary</h1>
        <p>Adoption of <strong><%= @order.doll.name %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
        <button id="pay" class="btn messag-btn">Proceed</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
